<!DOCTYPE html>
<html>
  <header>

    <style>
      body {
              color: white;
      }
    </style>

    <form action="benchmark-results" method="post">
      Hardware Configuration: 
      <select name="hardware_config">
        <option value="IntelCoreI5-2.6GHz-8GB" id="IntelCoreI5-2.6GHz-8GB">IntelCoreI5-2.6GHz-8GB</option>
        <option value="IntelCoreI7-2.6GHz-12GB" id="IntelCoreI7-2.6GHz-12GB">IntelCoreI7-2.6GHz-12GB</option>
        <option value="IntelCoreI7-2.7GHz-16GB" id="IntelCoreI7-2.7GHz-16GB">IntelCoreI7-2.7GHz-16GB</option>
        <option value="AMD6310-2.4GHz-6GB" id="AMD6310-2.4-6GB">AMD6310-2.4GHz-6GB</option>
        <option value="IntelCoreI5-2.3GHz-8GB" id="IntelCoreI5-2.3GHz-8GB">IntelCoreI5-2.3GHz-8GB</option>
      </select>
      <br>
      Sampling Rate: 
      <select name="sample_rate">
        <option value="2000" id="2000">2000</option>
        <option value="1000" id="1000">1000</option>
        <option value="500" id="500">500</option>
        <option value="250" id="250">250</option>
        <option value="125" id="125">125</option>
      </select><br>
      Metric: 
      <select name="metric">
        <option value="throughput_rps" id="throughput_rps">throughput_rps</option>
        <option value="median_latency_rt" id="median_latency_rt">median_latency_rt</option>
        <option value="average_latency_rt" id="average_latency_rt">average_latency_rt</option>
        <option value="minimum_latency_rt" id="minimum_latency_rt">minimum_latency_rt</option>
        <option value="maximum_latency_rt" id="maximum_latency_rt">maximum_latency_rt</option>
      </select><br><br>
      <input type="submit" value="Submit">
    </form> 
  </header>
  <head>
      <title>{{ title | safe }}</title>
  </head>
  <body bgcolor="#073642" onload="myFunction()">
		{{ line_chart.render()|safe }}
  </body>
  
  <script type=text/javascript>
	function myFunction() {
	  hc = '{{ hc | safe }}';
	  sr = '{{ sr | safe }}';
	  m = '{{ m | safe }}';

	  document.getElementById(hc).selected = "true";
	  document.getElementById(sr).selected = "true";
	  document.getElementById(m).selected = "true";
	}
  </script>

</html>