<!DOCTYPE html>
<html>
<header>

    <style>
        body {
            color: white;
        }
    </style>


</header>

<body bgcolor="#073642">

    <div id="box-container" onload="myFunction()">
        <div id="box">
            <form action="recommendations" method="post">
                Hardware Configuration:
                <select name="hardware-config-sample">
                    <option value="IntelCoreI5-2.6GHz-8GB" id="IntelCoreI5-2.6GHz-8GB">IntelCoreI5-2.6GHz-8GB</option>
                    <option value="IntelCoreI7-2.6GHz-12GB" id="IntelCoreI7-2.6GHz-12GB">IntelCoreI7-2.6GHz-12GB</option>
                    <option value="IntelCoreI7-2.7GHz-16GB" id="IntelCoreI7-2.7GHz-16GB">IntelCoreI7-2.7GHz-16GB</option>
                    <option value="AMD6310-2.4GHz-6GB" id="AMD6310-2.4-6GB">AMD6310-2.4GHz-6GB</option>
                    <option value="IntelCoreI5-2.3GHz-8GB" id="IntelCoreI5-2.3GHz-8GB">IntelCoreI5-2.3GHz-8GB</option>
                </select>
                <br> Number of Concurrent Users:
                <select name="concurrent-users-sample">
                    <option value="500" id="500">500</option>
                    <option value="400" id="400">400</option>
                    <option value="300" id="300">300</option>
                    <option value="200" id="200">200</option>
                    <option value="100" id="100">100</option>
                </select>
                <br> Metric:
                <select name="metric-sample">
                    <option value="throughput_rps" id="throughput_rps">throughput_rps</option>
                    <option value="median_latency_rt" id="median_latency_rt">median_latency_rt</option>
                    <option value="average_latency_rt" id="average_latency_rt">average_latency_rt</option>
                    <option value="minimum_latency_rt" id="minimum_latency_rt">minimum_latency_rt</option>
                    <option value="maximum_latency_rt" id="maximum_latency_rt">maximum_latency_rt</option>
                </select><br><br>
                <input type="submit" name="request-recommendation-sample" value="Get Sample Rate">
            </form>
            <br> {{ s_title | safe }}:
            <p>{{ sample_rate | safe }}</p>
        </div>

        <div id="box">
            <form action="recommendations" method="post">
                Hardware Configuration:
                <select name="hardware-config-concurrent">
                    <option value="IntelCoreI5-2.6GHz-8GB" id="IntelCoreI5-2.6GHz-8GB">IntelCoreI5-2.6GHz-8GB</option>
                    <option value="IntelCoreI7-2.6GHz-12GB" id="IntelCoreI7-2.6GHz-12GB">IntelCoreI7-2.6GHz-12GB</option>
                    <option value="IntelCoreI7-2.7GHz-16GB" id="IntelCoreI7-2.7GHz-16GB">IntelCoreI7-2.7GHz-16GB</option>
                    <option value="AMD6310-2.4GHz-6GB" id="AMD6310-2.4-6GB">AMD6310-2.4GHz-6GB</option>
                    <option value="IntelCoreI5-2.3GHz-8GB" id="IntelCoreI5-2.3GHz-8GB">IntelCoreI5-2.3GHz-8GB</option>
                </select>
                <br> Sample Rate:
                <select name="sample-rate-concurrent">
                    <option value="2000" id="2000">2000</option>
                    <option value="1000" id="1000">1000</option>
                    <option value="500" id="500">500</option>
                    <option value="250" id="250">250</option>
                    <option value="125" id="125">125</option>
                </select>
                <br> Metric:
                <select name="metric-concurrent">
                    <option value="throughput_rps" id="throughput_rps">throughput_rps</option>
                    <option value="median_latency_rt" id="median_latency_rt">median_latency_rt</option>
                    <option value="average_latency_rt" id="average_latency_rt">average_latency_rt</option>
                    <option value="minimum_latency_rt" id="minimum_latency_rt">minimum_latency_rt</option>
                    <option value="maximum_latency_rt" id="maximum_latency_rt">maximum_latency_rt</option>
                </select><br><br>
                <input type="submit" name="request-recommendation-concurrent" value="Get Concurrent Users">
            </form>
            <br> {{ c_title | safe }}
            <p>{{ concurrent_users | safe }}</p>
        </div>
    </div>

</body>

<script type=text/javascript>
    function myFunction() {
        hc = '{{ hc | safe }}';
        cu = '{{ cu | safe }}';
        sr = '{{ sr | safe }}';
        m = '{{ m | safe }}';

        document.getElementById(hc).selected = "true";
        document.getElementById(sr).selected = "true";
        document.getElementById(m).selected = "true";
        document.getElementById(cu).selected = "true";
    }
</script>

</html>